{% extends "base.html" %}

{% block titre %}Accueil{% endblock %}

{% block contenu %}
	<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="UTF-8">
			<!-- <link rel="stylesheet" href="css/design.css"> -->
		</head>
		<body>
			<header>
			
			</header>
			<main>
				<p><a href="{{ url_for('meteo_paris.afficher') }}" class="{{ 'actif' if request.endpoint == 'meteo_paris.afficher' }}">Météo Paris</a></p>
			</main>
			<footer>
				<p>SAE3.01 · BUT Informatique · IUT Créteil-Vitry · Data : Kouyate, Rakotoharisoa, Settouraman · Dev : Hamilcaro, Piscitello, Ratovonomenjanahary</p>
			</footer> 
		</body>
	</html>
{% endblock %}